* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #3c4c5b;
}
div {
    width: 770px;
    margin: 50px;
}
form {
    display: inline-block;
    vertical-align: top;
}
form {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ddd;
}
    h2 {
        font-weight: normal;
        margin-bottom: 15px;
    }
    input {
        font-size: 0.9em;
        border: 1px solid #ccc;
        border-radius: 2px;
        outline: none;
        margin-bottom: 30px;
        padding: 6px 5px;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 100px #fff inset;
    }
    input[type="submit"] {
        color: white;
        background-color: #007db8;
        font-weight: bold;
        border: 2px solid #007db8;
        border-radius: 2px;
        box-shadow: 2px 2px 2px #ccc;
        padding: 4px 8px;
    }
    input[type="submit"]:hover {
        color: #007db8;
        cursor: pointer;
        background-color: white;
    }
form#login {
    width: 315px;
    padding: 15px 15px;
}
    #log_email, #log_pw {
        width: 300px;
    }
    input#login {
        margin-left: 250px;
        margin-bottom: 0;
    }
form#register {
    width: 335px;
    margin-left: 50px;
    padding: 15px 15px;
}
    #first, #last {
        width: 140px;
    }
    #last {
        margin-left: 25px;
    }
    #email {
        width: 320px;
    }
    #pw, #confirm_pw {
        width: 180px;
    }
    input#register {
        margin-left: 255px;
        margin-bottom: 0;
    }
    p {
        width: 330px;
        color: #3c4c5b;
        font-size: 0.8em;
        margin-bottom: 10px;
    }
        span {
            color: white;
            background-color: #007db8;
            font-weight: bolder;
            border-radius: 2px;
            padding: 1px 6px;
        }
p.error {
    font-size: 0.8em;
    color: orangered;
    position: absolute;;
}
#first_error {
    top: 145px;
    left: 468px;
}
#last_error {
    top: 145px;
    left: 650px;
}
#email_error, #reg_error {
    top: 204px;
    left: 468px;
}
#pw_error {
    top: 318px;
    left: 468px;
}
#confirm_error {
    top: 380px;
    left: 468px;
}
#login_account_error {
    top: 145px;
    left: 68px;
}
#login_pw_error {
    top: 205px;
    left: 68px;
}
