* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
div {
    color: white;
    background-color: #3c4c5b;
    padding: 15px 50px;
}
    h2, p, a {
        display: inline-block;
    }
    p, a {
        float: right;
    }
    p {
        margin-top: 7px;
    }
    a {
        color: #3c4c5b;
        background-color: white;
        font-size: 0.8em;
        border: 1px solid #3c4c5b;
        text-decoration: none;
        padding: 2px 6px;
        margin: 5px 0 0 20px;
    }
    a:hover {
        color: white;
        background-color: #3c4c5b;
        border: 1px solid white;
    }
table {
    color: #007db8;
    border-collapse: collapse;
    margin: 100px auto;
}
    tr#header {
        color: white;
        background-color: #007db8;
        font-size: 0.9em;
    }
        th, td {
            height: 40px;
            text-align: center;
        }
