body *{
	margin: 0px auto;
	padding: 0px;
	font-family: sans-serif;
}

	h1{
		font-size: 1.2em;
		text-decoration: underline;
	}

	p{
		width: 160px;
	}

	#container{
		width: 400px;
		border: 2px solid;
	}

		#container div{
			margin-left: 20px;
		} 

		div form{
			padding: 10px;
			margin-left: 40px;
		}

			div form *{
				margin-top: 10px;
			}

			div span{
				float: left;
				width: 160px;
			}

			div #name{
				width: 136px;
			}

			div select{
				float: right;
				display: block;
				width: 140px;
				margin-right: 40px;
			}

			div #submit_survey{
				display: block;
				margin-left: 220px;
				border: 0px none;
				color: white;
				height: 30px;
				width: 80px;
				background-color: blue;
				font-size: 1em;
				font-weight: bold;
			}
		
