<!DOCTYPE html>
<!--
Pajama Programmer
Coding Dojo - July 5 Online Flex
03-September-2015
Python > Flask & MySQL > Optional Assignment: Semi-Restful Users
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Optional Assignment: Semi-Restful Users">
        <title>Optional Assignment: Semi-Restful Users</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <h1>Edit User {{ user['id'] }} </h1>

            <form action="/users/{{user['id']}}" method='POST'>
                <label>First Name: </label>
                <input type="text" name="first_name" value= {{ user['first_name'] }} >
                <label>Last Name: </label>
                <input type="text" name="last_name" value= {{ user['last_name'] }} >
                <label>Email: </label>
                <input type="email" name="email" value=  {{ user['email'] }} >
                <input type="submit" value="Update">
            </form>

            <a href="/users/{{user['id']}}">Show</a> <span>|</span> <a href="/users">Go Back</a>
        </div>
    </body>
</html>

