*{
margin:auto;
padding:auto;
}

body{
  margin:10px;
  padding:10px;
  font-family:comic sans ms;
  text-align:center;
}

div{
  display:inline-block;
  height: 100px;
  width: 300px;
  color: black;
  background-color: white;
  padding-top:50px;
  text-align:center;
}


div.wrong {
  background-color:red;
}

div.right {
  background-color:green;
}

div.noguess {
  background-color:white;
}
