*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 450;
}
.author {
font-weight: 700;
margin: 10px 0 0;
}
.messageText {
	font-style: italic;
}
.commentBlock {
	margin: 0 0 0 25px;
}
#messageForm {
	max-width: 500px;
	height: auto;
	margin: 10px auto
}
#commentform {
	max-width: 500px;
	height: auto;
	margin: 10px auto;
}
#messageContainer {
	max-width: 500px;
	height: auto;
	margin: 10px auto;
	text-align: justify;
    text-justify: inter-word
}
.commentForm input {
	margin: 0 410px;
}
.commentForm textarea {
	width: 480px;
	margin: 0 0 0 20px;
}
textarea {
	max-width: 500px;
	resize: none;
	height: auto;
}
ul {
	max-width: inherit;
	list-style: none;
}
li {
	max-width: inherit;
	height: auto;
}