<!DOCTYPE html>
<!--
Pajama Programmer
Coding Dojo - July 5 Online Flex
02-September-2015
Python > Flask & MySQL > Assignment: The Wall
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Assignment: The Wall">
        <title>Assignment: The Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <h1>The Wall</h1>
            <p>Please Login/Register to gain access to the Wall</p>


            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{category}}">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action='/register' method='POST' class="aForm">
                <h3>New User: </h3>
                <label>First Name: </label><input type="text" name="first_name">
                <br>
                <label>Last Name: </label><input type="text" name="last_name">
                <br>
                <label>Email: </label><input type="email" name="email">
                <br>
                <label>Password: </label><input type="password" name="password">
                <br>
                <label>Confirm Password: </label><input type="password" name="password_confirmation">
                <br>
                <input type="submit" value="register">
            </form>


            <form action='/login' method='POST' class="aForm">
                <h3>Login: </h3>
                <label>Email: </label><input type="email" name="email">
                <br>
                <label>Password: </label><input type="password" name="password">
                <br>
                <input type="submit" value="login">
            </form>



        </div>
    </body>
</html>
