<!DOCTYPE html>
<!--
Pajama Programmer
Coding Dojo - July 5 Online Flex
02-September-2015
Python > Flask & MySQL > Assignment: The Wall
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Assignment: The Wall">
        <title>Assignment: The Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>CodingDojo Wall</h1>
                <p>Welcome {{session['user']['first_name'] }}!</p>
                <a href="/logout"><button>logout</button></a>
            </div>


            <form action='/message' method='POST' class="mForm">
                <h4>Post a message </h4>
                <textarea name="message" rows="4"></textarea>
                <br>
                <input type="submit" value="Post a message">
            </form>

            {% if messages %}
                <ul>

                    {% for message in messages|sort(attribute="updated_at",reverse=True) %}
                        {% for user in users %}
                            {% if user['id'] == message['user_id'] %}
                                <li>
                                    {{user['first_name']}} {{user['last_name']}} - {{ message['updated_at'].strftime('%B %d, %Y @ %I:%M%p') }}
                                    <p>{{ message['message'] }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <ul>
                            {% if comments %}
                                {% for comment in comments|sort(attribute="updated_at") %}
                                        {% if comment['message_id'] == message['id'] %}
                                            {% for user in users %}
                                                {% if comment['user_id'] == user['id'] %}
                                                    <li>
                                                        {{user['first_name']}} {{user['last_name']}} - {{ comment['updated_at'].strftime('%B %d, %Y @ %I:%M%p') }}
                                                        <p>{{comment['comment']}}</p>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% set message_id = message['id'] %}
                            <form action='/comment' method='POST' class="cForm">
                                <h4>Post a comment </h4>
                                <textarea name="comment" rows="3"></textarea>
                                <br>
                                <input type="hidden" name="message_id" value="{{ message_id }}">
                                <input type="submit" value="Post a comment">
                            </form>
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </body>
</html>