<!DOCTYPE html>
	<html>
		<head>
			<title>Courses App</title>
			<meta charset="utf-8" />
			<meta name="description"  content="Courses APP" />
			{% load staticfiles %}
			<link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
		</head>
		<body>
			<h4>Add a new course</h4>
			<form action="{%url 'add_course'%}" method="post">
				{% csrf_token %}
				<p>Name: <input type="text" name="course_name" id="name"></p>
				<p>Description: <input type="text" name="course_description" id="name"></p>
				<p><input type="submit" value="Add a course" name="submit_form" id="add_course"></p>
			</form>
			<table>
				<thead>
					<th>Course Name</th>
					<th>Description</th>
					<th>Date Added</th>
					<th>Actions</th>
				</thead>	
			{% for course in show_all_courses %}
				<tr>
					<td>{{course.name}}</td>
					<td>{{course.description}}</td>
					<td>{{course.created_at}}</td>
					<td><a href={%url 'destroy' id=course.id%}>Remove</a></td>
				</tr>	
			{% endfor %}
			</table>	
		</body>	