#wrapper{
	     margin: 0px auto;
	     width: 970px;
	     padding: 150px; 
}

.flashes {
	border: 1px solid black;
	background-color: red;
	color: white;
	width: 200px;
	height: 20px;
}

.users form {
	display: inline;

}