<!DOCTYPE html>
	<html>
		<head>
			<title>Login and Registration Form</title>
			<meta charset="utf-8" />
			<meta name="description"  content="Login and registration form " />
		</head>
		<body>
			{% if messages %}
				<ul class="messages">
    				{% for message in messages %}
    					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    				{% endfor %}
				</ul>
			{% endif %}
			<h4>New users Register Here</h4>
			<form action="/register" method="post">
				{% csrf_token %}
				First Name <input type="text" name="first_name" placeholder="Enter your name" id="first_name">
				Last Name <input type="text" name="last_name" placeholder="Enter your name" id="last_name">
				Email <input type="email" name="email" placeholder="Email" id="email">
				Password <input type="password" name="password"  id="password">
				Confirm Password <input type="password" name="c_password" id="c_password">
				<input type="submit" value="Register Here" name="submit_register">
			</form> 
			<form action="/login" method="post">
				{% csrf_token %}
				<h4>Registered Users Login here</h4>
				Email <input type="email" name="email" placeholder="Email" id="email">
				Password <input type="password" name="password"  id="password">
				<input type="submit" value="Login Here" name="submit_login">
			</form>	
		</body>
	</html>	