* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
    background-color: #eee;
    color: #3e4e5a;
}
#wrapper {
    width: 1130px;
    margin: 50px auto;
}
    #gold {
        padding: 10px 0;
    }
        span {
            width: 60px;
            border: 2px solid #3e4e5a;
            padding: 4px 10px;
            margin-left: 20px;
            display: inline-block;
        }
    .block {
        width: 250px;
        height: 200px;
        border: 2px solid #3e4e5a;
        border-radius: 5px;
        box-shadow: 1px 1px 2px grey;
        margin: 15px 25px 25px 0;
        display: inline-block;
    }
        h1 {
            font-size: 1.5em;
            text-align:center;
            margin-top: 30px;
        }
        .block p {
            text-align:center;
            margin-top: 20px;
        }
        form {
            text-align:center;
            margin-top: 40px;
        }
            input {
                font-size: 1em;
                font-weight: bold;
                color: #3e4e5a;
                background-color: #eee;
                border: 2px solid #3e4e5a;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                box-shadow: 3px 3px 6px #3e4e5a;
                padding: 5px 15px;
            }
            input:hover {
                color: #eee;
                background-color: #3e4e5a;
                box-shadow: 2px 2px 4px grey;
            }
    #activity {
        width:1100px;
        height: 200px;
        overflow: auto;
        border: 2px solid #3e4e5a;
        border-radius: 5px;
        box-shadow: 1px 1px 2px grey;
        margin-top: 10px;
    }
        #activity p{
            padding: 5px 15px;
        }
        #earn {
            color: green;
        }
        #lost {
            color: red;
        }
    a {
        font-size: 1em;
        font-weight: bold;
        color: #3e4e5a;
        background-color: #eee;
        border: 2px solid #3e4e5a;
        border-radius: 5px;
        outline: none;
        text-decoration: none;
        box-shadow: 3px 3px 6px #3e4e5a;
        margin-top: 30px;
        padding: 4px 20px;
        display: inline-block;;
    }
    a:hover {
        color: #eee;
        background-color: #3e4e5a;
        box-shadow: 2px 2px 4px grey;
    }
