<!DOCTYPE html>
	<html>
		<head>
			<title>Products App</title>
			<meta charset="utf-8" />
			<meta name="description"  content="Django Application for new products" />
			
		</head>
		<body>
			<h4>Enter a new product</h4> 
			<form action={%url 'create' %} method="post">
				{% csrf_token %} 
				<p>Name <input type="text" name="name" placeholder="Enter a product name"></p>
				<p>Description <input type="text" name="description" placeholder="Enter a product description"></p>
				<p>Price <input type="text" name="price" placeholder="Enter product price"></p>
				<p><input type="submit" name="submit_new_product_form" value="Create" placeholder="Enter product price"></p>
			</form>	
			<a href="{% url 'index' %}">Go back</a>
		</body>
	</html>		