<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='css/style_dojo.css') }} ">
	<title>Dojos!</title>
</head>
<body>
	<div id="container">
    	<h3>Pick your Ninja village</h3>
	    <form>
	        Ninja Village:
	        <select>
	            <option>Konohagakure</option>
	            <option>Iwagakure</option>
	            <option>Kumogakure</option>
	        </select>
	        <input type="submit" value="Submit">
	    </form>
	    <a href="/" class="button">Home</a>

	</div>

</body>
</html>