<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_ninja.css') }}">
	<title>Ninjas</title>
</head>
<body>
	<div id="container">
	<h3>About Ninjas <span id="subText">- Pulled from Wikipedia</span></h3>
	<p>A ninja or shinobi was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare. Their covert methods of waging irregular warfare were deemed "dishonorable" and "beneath" the samurai-caste, who observed strict rules about honor and combat. The shinobi proper, a specially trained group of spies and mercenaries, appeared in the Sengoku or "warring states" period, in the 15th century, but antecedents may have existed in the 14th century, and possibly in the 12th century (Heian or early Kamakura era).
	</p>
	<a href="/" class="button">Home</a>



	</div>

</body>
</html>