<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='description' content="Now that you've learned about setting up basic routes your first assignment is to build a new Flask project that does what is shown below. The goal is to help you get familiar with sending POST requests through a form and displaying that information:">
	<title>Dojo Survey</title>	
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/style.css") }}'>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script>
		//jQuery validator
		// $(document).ready(function(){
		// 	$('form').submit(function(){
		// 		if($('input[name=name]').val() === '' || $('input[name=email]').val() === '') {
		// 			return false; 
		// 		}
		// 	});
		// });
	</script>
</head>
<body>
	<div id='container' class='text-center'>
		<div class='inline outline text-left'>
			<h1 class='text-primary text-center'>Coding Dojo Survey</h1>
			<form action='/result' method='post'>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<p>{{ message }}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<label>
					<span class='spaceName'>Name:</span><input type='text' name='name' placeholder='Enter your name'>					
				</label>
				<label>
					<span class='spaceEmail'>Email:</span><input type='text' name='email' placeholder='Email here'>					
				</label>
				<label>
					<span class='spaceLocation'>Dojo Location:</span> 
					<select name='location'>
						<option>San Jose</option>
						<option>Seattle</option>
						<option>Mars Colony 1</option>
						<option>Los Angeles</option>
					</select>
				</label>
				<label>
					<span class='spaceLanguage'>Favorite Language:</span>
					<select name='language'>
						<option>Python</option>
						<option>Ruby</option>
						<option>JavaScript</option>
						<option>PHP</option>
					</select>
				</label>
				<label>
					<span class='block'>Comments:</span>
					<textarea name='comments'></textarea>
				</label>
				<input id='submit' class='btn btn-primary' type='submit' value='Submit Survey'>
			</form>
		</div>
	</div>
</body>
</html>