body *{
	margin: 0px auto;
	padding: 0px;
	font-family: sans-serif;
}

	h1{
		font-size: 1em;
		text-decoration: underline;
		margin: 20px 0px 20px 20px;
	}
	#container{
		width: 400px;
	}

	#data{
		list-style-type: none;
		width: 200px;
	}

	#data li{
		padding-bottom: 5px;
	}

	p{
		display: inline-block;
	}

	form{
		border: 2px solid;
	}

	#go_back{
		margin: 20px 0px 20px 280px;
		display: block;
		border: 0px none;
		color: white;
		height: 30px;
		width: 80px;
		background-color: blue;
		font-size: 1em;
		font-weight: bold;
	}
