<!DOCTYPE html>
	<html>
		<head>
			<title>Full friends database</title>
			<meta charset="utf-8">	
			<link rel="stylesheet"  type="text/css"  href="{{ url_for('static', filename='styles.css') }}">
		</head>		
		<body>
			<form action="/friends" method="post">
				First Name <input type="text" name="first_name">
				Last Name <input type="text" name="last_name">
				Email <input type="text" name="email">
				<input type="submit" value="Add Friend">
			</form>	

			<div class="users">
				<h2>List of all friends</h2>
				{% for friend in friends %}
					<p>Name: {{friend.first_name}} {{friend.last_name}}</p>
					<p>Email: {{friend.email}}</p>
				
				<form action="/friends/{{friend.id}}/edit" method="post">
					<input type="submit"  value="Edit">
				</form>		

				<form action="/friends/{{friend.id}}/delete" method="post">
					<input type="submit"  value="Delete">
				</form>		
				<br/>
				<br/>
				{% endfor %}	
			</div>
		</body>	
	</html>