body *{
	margin: 10px auto;
	padding: 0px;
	font-family: sans-serif;
}

	form{
		display: inline-block;
		border: 2px solid;
		width: 200px;
		margin-right: 10px;
		text-align:center;
	}

	input{
		border: 1px solid;
		height: 30px;
		width: 90px;
		color: black;
		background: linear-gradient(to top, gold , white);
		border-radius: 3px;

	}

	#container{
		width: 900px;
		padding-left: 10px;
	}

		#container #your_gold{
			border: 1px solid;
			padding: 0px 50px 0px 50px;
			margin-left: 10px;
		}

		#div_activities{
			overflow-y: scroll;
			height: 300px;
			width: 855px;
			border: 2px solid;
			margin:0px;
		}



		