* {
	margin: 0 auto;
}
#logo {
	width: 500px;
}
img {
	width: 350px;
}
	.smaller {
		width: 200px;
		display: inline-block;
	}
	.border {
		border-radius: 5px;
		border: 2px solid #dddddd;
		padding-top: 30px;
		width: 900px;
		height: 320px;
	}