#images {
	width: 70%;
	display: inline-block;
	overflow: hidden;
}

#info {
	width: 10%;
	height: 800px;
	display: inline-block;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	vertical-align: top;
	margin-left: 20px;
	padding: 20px;

h2 {
	text-align: center;
}