<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Notes</title>
    <meta name="description" content="My Posts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_theme.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
	<div id="container">
        <h1>Notes</h1>
        <div id="notes">
            <div class="note_container">
                <h3>Note Title</h3>
                <form action="/{{ note_id }}/delete" class="del_form">
                    <input class="delete" type="submit" value="delete">
                </form>
                <div class="note">
                    test
                </div>
                <form action="/{{ note_id }}/post" method="post" class="post_note" >
                    <textarea name="note_text" rows="10" cols="39"></textarea>
                </form>
            </div>
        </div>
        <form action="/notes/create" method="post" id="new_note">
            <input name="title" placeholder="Enter note title here..."></textarea>
            <input type="submit" value="Add Note" id="create_note" class="button">
        </form>
	</div>
</body>
</html>