* {
	color: black;
}
	div.gold {
		margin-top: 30px;
		margin-bottom: 20px;
	}
		p {
			font-weight: bold;
		}
			.gold p {
				display: inline-block;
				vertical-align: top;
			}
			.jobs p {
				margin-bottom: 40px;
			}
			.activities p {
				margin-top: 20px;
			}
	.jobs .col-md-3 div {
		text-align: center;
		border: 3px solid black;
		padding-bottom: 30px;
	}
#goldCount {
	padding-left: 10px;
	margin-left: 20px;
	width: 150px;
	height: 20px;
	outline: 3px solid black;
}
#activityLog {
	height: 200px;
	outline: 3px solid black;
	overflow: scroll;
}
	#activityLog .green {
		color: green;
	}
	#activityLog .red {
		color: red;
	}

#resetBtn {
	margin-top: 20px;
	margin-left: 0px;
}
