  {% for note in all_notes %}
    <div class="note">
      <h3>{{note.title}}
        <form style="float:right;" action = '/notes/{{note.id}}/delete'>
          <input class="button-primary" type="submit" value="delete">
        </form>
      </h3>
      <form action="/notes/{{note.id}}/update" method='post'>
        {% if note.description %}
        <textarea name = 'description'>{{note.description}}</textarea>
        {% else %}
        <textarea name = 'description'></textarea>
        {% endif %}
      </form
    </div>
  {% endfor %}
