<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Flask+MySQL">
    <title>Semi-Restful Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body onLoad=changBgColor()>
    <h1>Users</h1>
    <table id="users" width="950">
        <tr id="header">
            <th width="50">id</th>
            <th width="200">Full name</a></th>
            <th width="300">Email Address</th>
            <th width="200">Created At</th>
            <th width="200">Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td><a href="/users/{{ user['id'] }}">{{ user['full_name'] }}</a></td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['created'] }}</td>
                <td>
                    <a href="/users/{{ user['id'] }}">Show</a>
                    <a href="/users/{{ user['id'] }}/edit">Edit</a>
                    <a href="/users/{{ user['id'] }}/destroy" onClick=deleteConfirm()>Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a id="new" href="/users/new">Add a new user</a>
</body>
</html>
