* {
	padding: 0;
	margin: 0;
}
body {
	font-family: arial;
}
img {
	opacity: 0.7;
	margin: 50px 0 0 50px;
}
img, form {
	display: inline-block;
}
	select {
		font-size: 1.5em;
		color: #4e5358;
		outline: none;
		border-radius: 10px;
		padding: 5px 15px;
	}
	input {
		font-size: 1.2em;
		color: #4e5358;
		outline: none;
		padding: 5px 20px;
		background-color: white;
		border: 1px solid grey;
		border-radius: 10px;
	}
	input:hover {
		box-shadow: 2px 2px 2px silver;
	}