
<!DOCTYPE html>
<html>
	<head>
		<title>Email Validation</title>
		<meta charset="utf-8" />
		<meta name="description"  content="Email validation forms" />
		<link rel="stylesheet"  type="text/css"  href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="success">
		   			{% for message in messages %}
		   				<li> {{message}} </li>
		   			{% endfor %}
		 		</ul>
		 	{% endif %}		   	
		{% endwith %}
			<div class="display">
				{% for user in all_users %}
					<p class="display"> {{user['email']}} </p>
					<p class="display"> {{user.created_at.strftime('%d/%m/%y %I:%M%p')}}</p> 
					<a href="/remove/{{user['id']}}">Delete</a>
					<br/> 
				{% endfor %}	
			</div>
	</body>	
</html>





