* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ddd;
    font-family: arial;
    color: white;
}
img {
    padding: 20px;
}
div {
    width: 540px;
    background-color: #4e5358;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 8px 8px 10px #4e5358;
    margin: 0 auto;
}
    h1 {
        text-decoration: underline;
        margin: 20px 25px;
    }
    ul {
        list-style-type: none;
        font-size: 1.5em;
        margin-left: 50px;
        display: inline-block;
        vertical-align: top;
    }
        ul li {
            margin-bottom: 10px;
        }
    #result li {
        max-width: 200px;
        overflow: auto;
    }
    a {
        font-size: 1.3em;
        color: white;
        background-color: #4e5358;
        outline: none;
        border: 2px solid white;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;;
        margin: 40px 0 20px 400px;
        padding: 5px 15px;
    }
    a:hover {
        color: #4e5358;
        background-color: white;
        border: none;border: 2px solid #4e5358;
    }
