<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='description' content='Make a flask project with routes going to ninjas and dojos'>
	<title>Greetings!</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/style.css") }}'>
	<script src='{{ url_for("static", filename="script/script.js") }}'></script>
</head>
<body>
	<div id='container'>
		<h1 class='bg-primary text-center'>My Landing Page</h1>
		<p class='text-center'>Greetings, you've reach the landing zone. Hover over me for a message!</p>
		<button class='btn btn-danger'>Go to Ninjas!</button>
		<button class='btn btn-warning'>Go to Dojos!</button>
		<p id='message' class='text-center'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
	</div>
</body>
</html>