<!DOCTYPE html>
<!--
Pajama Programmer
Coding Dojo - July 5 Online Flex
30-August-2015
Python > Flask & MySQL > Assignment: Full Friends
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Assignment: Full Friends">
        <title>Assignment: Full Friends</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <!--Edit Friend-->
            <form action="/friends/{{ friend['id'] }}" method='POST' class="aForm">
                <h3>Edit Friend: {{ friend['id'] }}</h3>
                <label>First Name: </label><input type="text" name="first_name" value = {{ friend['first_name'] }}>
                <br>
                <label>Last Name: </label><input type="text" name="last_name" value = {{ friend['last_name'] }}>
                <br>
                <label>Email Address: </label><input type="email" name="email" value = {{ friend['email'] }}>
                <br>
                <input type="submit" value="submit">
            </form>


        </div>
    </body>
</html>