<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.updateTitle').submit(function(){
          var id = $(this).attr('id');
          console.log(id);
          $.post('/' + id + '/update/title', $(this).serialize(), function(note) {
            $('#notes').html(note);
          });
          return false;
        }); // end .submit

        $('.deletePost').submit(function(){
          console.log('clicked');
          var id = $(this).attr('id');
          console.log(id);
          $.post('/' + id + '/delete', $(this).serialize(), function(note) {
            $('#notes').html(note);
          });
          return false;
        }); // end .submit

        $('.updateDescription').submit(function(){
          var id = $(this).attr('id');
          console.log(id);
          $.post('/' + id + '/update/description', $(this).serialize(), function(note) {
            $('#notes').html(note);
          });
          return false;
        }); // end .submit

        $('#addnote').submit(function(){
          $.post('/create', $(this).serialize(), function(note) {
            console.log(note)
            $('#notes').html(note);
          }, 'html');
          return false;
        }); // end .submit

      }); // end .ready
    </script>
    <style>
        form {
            margin-bottom: 30px;
        }
    </style>
  </head>
  <body>
    <h1>AJAX Notes Assignment - Coding Dojo - September 2016</h1>
      <div>
        <div id="notes">
          <!-- begin for loop below retrieves our notes -->
          {% for note in notes %}
            <div class='note'>
              <!-- update title -->
              <form action="/{{ note['id'] }}/update/title" method="POST" id="{{ note['id'] }}" class="updateTitle">
                <input type="text" value="{{ note['title'] }}" name="title{{ note['id'] }}">
                <button form="{{ note['id'] }}" type="submit" action="/{{ note['id'] }}/update/title" method="POST">update title</button>
              </form>
              <!-- delete post -->
              <form action="/{{ note['id'] }}/delete" method="POST" id="deletePost{{ note['id'] }}" class="deletePost">
                <button type="submit" formaction="/{{ note['id'] }}/delete" formmethod="POST" form="deletePost{{ note['id'] }}">delete</button>
              </form>
              <!-- update description -->
              <form action="/{{ note['id'] }}/update/description" method="POST" id="{{ note['id'] }}" class="updateDescription">
                <textarea name="description{{ note['id'] }}">{% if note['description'] is not none %}{{ note['description'] }}{% endif %}</textarea>
                <input type="submit" value="update">
              </form>
            </div>
          {% endfor %}
          <!-- end for loop -->
        </div>
      </div>
    <div id="createNote">
      <!-- begin add new post -->
      <form action="/create" method="post" id='addNote'>
        <input type='text' placeholder='Insert note title here...' name="title">
        <input type="submit" value="Add Note!">
      </form>
      <!-- end add new post -->
    </div>
  </body>
</html>