* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
div {
    width: 100%;
    color: white;
    background-color: #3c4c5b;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
    div * {
        display: inline-block;
    }
    div span, div a {
        float: right;
    }
    div h2{
        margin-left: 50px;
    }
    div span {
        font-size: 1.2em;
        margin-top: 4px;
    }
    div a {
        color: #3c4c5b;
        background-color: white;
        font-size: 0.8em;
        font-weight: bold;
        border: 1px solid #3c4c5b;
        text-decoration: none;
        padding: 2px 5px;
        margin: 5px 50px 0 30px;
    }
    div a:hover {
        color: white;
        background-color: #3c4c5b;
        border: 1px solid white;
    }
p.error {
    width: 100%;
    opacity: 0.8;
    color: orangered;
    background-color: white;
    font-size: 0.9em;
    text-align: center;
    position: fixed;
    top: 52px;
    left: 0;
    z-index: 1000;
    padding: 5px 0;
}
    input[type='submit'] {
        color: white;
        background-color: #009ac7;
        border: none;
        border-radius: 2px;
        box-shadow: 1px 1px 2px #ccc;
        padding: 4px 10px;
    }
    input[type='submit']:hover {
        cursor: pointer;
        background-color: #007394;
    }
form#message {
    width: 800px;
    color: #3c4c5b;
    margin: 90px 0 30px 360px;
}
    form#message * {
        display: inline-block;
    }
    form#message p {
        font-size: 1.2em;
        font-weight: bold;
    }
    form#message textarea {
        width: 755px;
        height: 100px;
        color: #3c4c5b;
        font-size: 1em;
        border-radius: 3px;
        box-shadow: 1px 1px 2px #ccc;
        outline: none;
        overflow: auto;
        resize: none;
        margin: 5px 10px;
        padding: 6px 12px;
    }
    form#message input {
        font-size: 1em;
        margin-left: 656px;
    }

form#msg_del {
    width: 780px;
    margin: 10px 0 20px 378px;
}
p.msg_user {
    font-size: 1.05em;
    font-weight: bold;
    display: inline-block;
}
span#msg_created {
    font-weight: normal;
    margin-left: 10px;
}
    form#msg_del input {
        margin-left: 40px;
    }
p.message {
    width: 770px;
    margin-top: 5px;
}

p.comment_user {
    color: SteelBlue;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    margin-left: 440px;
}
span#comment_created {
    color: #3c4c5b;
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 10px;
}
p.comment {
    width: 700px;
    color: SteelBlue;
    font-size: 0.9em;
    margin: 10px 0 20px 440px;
}
form#comment {
    width: 720px;
    color: #3c4c5b;
    margin: 0 0 10px 430px;
}
    form#comment * {
        display: inline-block;
    }
    form#comment p {
        font-weight: bold;
        margin-left: 10px;
    }
    form#comment textarea {
        width: 680px;
        height: 70px;
        color: #3c4c5b;
        font-size: 1em;
        border-radius: 3px;
        box-shadow: 1px 1px 2px #ccc;
        outline: none;
        overflow: auto;
        resize: none;
        margin: 5px 10px;
        padding: 6px 12px;
    }
    form#comment input {
        font-size: 0.9em;
        margin-left: 592px;
    }
