<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dojos</title>
</head>
<body>
	<h1>Fill out the form to enter the dojo</h1>
	<form id="myForm" method="post" action="process.php">
		<label>
			<p>Please enter your first name: <input type="text" name="first-name" placeholder="ie, John" id="firstName"></p>
		</label>
		<label>
			<p>Please enter your last name: <input type="text" name="last-name" placeholder="ie, Doe" id="lastName"></p>
		</label>
		<input type="submit" value="Submit Your Name">
	</form>
</body>
</html>