<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="Flask Fundamentals">
	<title>Greeting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='img/bg.png') }})" >
    <div>
    	<h1>Welcome to</h1>
    	<img src="{{ url_for('static', filename='img/codingdojo_logo.png') }}" alt="Codingdojo Logo">
    </div>
</body>
</html>
