<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Flask+MySQL">
    <title>Email Validation with DB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form id="input" action="/process" method="post">
        <label>Email Address:
            <input id="email" type="text" name="email" placeholder="ex: name@example.com">
        </label>
        <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>
