<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Flask+MySQL">
    <title>Email Validation with DB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
    <div>
        <p id="valid">The email address you entered: <b><i>{{ session['email'] }}</i></b> is a VALID email address! Thank you!</p>
        <p style="text-decoration:underline;font-size:1.6em;">Email Addresses Entered:</p>
        {% for email in emails %}
            <p class="email">{{ email['email'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ email['created_at'] }}</p>
            <a id="remove" href="/remove/{{ email['id'] }}">Remove</a>
        {% endfor %}
        <a id="back" href="/">Go Back</a>
    </div>
</body>
</html>
