<!DOCTYPE html>
	<html lan="en">
		<head>
			<meta charset="utf-8">
			<title>Diappearing Ninjas</title>
			<!--{% load staticfiles %}
			<link rel="stylesheet" href="{% static 'ninjas_app/css/styles.css' %}">-->
		</head>	
	
		<body>
			<div class="show_img">
				<img src="{% static 'ninjas_app/img/Ninjas/leonardo.jpg' %}">
				<img src="{% static 'ninjas_app/img/Ninjas/michelangelo.jpg' %}">
				<img src="{% static 'ninjas_app/img/Ninjas/raphael.jpg' %}">
				<img src="{% static 'ninjas_app/img/Ninjas/donatello.jpg' %}">
			</div>			
		</body>
	</html>		